{% extends ':template:base.html.twig' %}

{% block contentheader %}
    {#
    <section class="content-header">
        <h1>
            Departamento
            <small>Listagem</small>
        </h1>
    </section>
    #}
{% endblock %}

{% block content %}

    <div class="row">
        {% block firstrow %}

        {% endblock %}
    </div>

<div class="row">
    {% block secundrow %}

    {% endblock %}

</div>

{% endblock %}