
<div class="box box-primary collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title">
            <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                <i class="fa fa-plus"></i>
                Apontamento(s)
            </button>
        </h3>

        <div class="box-tools pull-right">

        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: none;">
        <table class="table table-bordered table-responsive table-condensed">
            <thead>
            <tr>
                <th>Data apontamento</th>
                <th>Data de Retorno</th>
                <th>Atendente</th>
                <th>Apontamento</th>
            </tr>
            </thead>
            <tbody>
            {% for tbApontamento in tbApontamentos %}
                <tr>
                    <td>{{ tbApontamento.apDataApontamento |date('d-m-Y H:i:s') }}</a></td>
                    <td>{% if tbApontamento.apDataRetorno %}{{ tbApontamento.apDataRetorno|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ tbApontamento.usuCodigo.usuNome }}</td>
                    <td>{{ tbApontamento.apDescricao }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- /.box-body -->
</div>
