{% extends '@SAAtendimento/atendimento/template/template.html.twig' %}

{% block contentheader %}
    <section class="content-header">
        <h1>
            Atendimento
            <small>Procurar</small>
        </h1>
    </section>
{% endblock %}

{% block firstrow %}
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-1">
                        <a href="{{ path('atendimento_new') }}" class="btn btn-sm btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                            Novo
                        </a>
                    </div>

                    <div class="col-md-6">

                        <div class="input-group">
                            <input type="text" class="form-control input-sm" id="protocolo-input"
                                   placeholder="Protocolo de atendimento">
                          <span class="input-group-btn">
                            <a class="btn btn-default btn-sm" type="button" id="protocolo-button">
                                <span class="glyphicon glyphicon-search"></span>
                                Procurar
                            </a>
                          </span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <a href="{{ path('atendimento_search_show') }}" id="link"></a>

{% endblock %}

{% block secundrow %}
    <div class="protocolo-result">
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $(document).ready(function(){

            var protocolo_button = $("#protocolo-button");

            var ajaxBusca = function(){

                $.ajax({
                    type: "GET",
                    url: $('#link').attr('href'),
                    data: { protocolo : $("#protocolo-input").val() },

                    beforeSend: function()
                    {
                        //alert('Teste');
                        $(protocolo_button).addClass('disabled');
                    },

                    complete: function()
                    {
                        $(protocolo_button).removeClass('disabled');
                    },

                    success: function(data)
                    {
                        $(protocolo_button).removeClass('disabled');
                        $(".protocolo-result").html(data);

                    },

                    error: function(err){
                        //alert('Invalida argument exception');
                        $(protocolo_button).removeClass('disabled');
                        console.log(err);
                    }
                });

            }


            $('body').on('keyup',function(e){
                //alert(e.which);

                if(e.which == '13') {

                    //alert('TESTE');

                    ajaxBusca();
                    return false;
                }
            });


            $(protocolo_button).click(function(){

                //alert('TESTE 2');

                ajaxBusca();

            });

        });

    </script>

{% endblock %}